<div class="container" style="text-align:center">
  <br />
  <div class="row center">
    <img class="img-thumbnail" style="display: block;margin-left: auto; height:20%; margin-right: auto;width: 20%;" src="https://ih1.redbubble.net/image.211099944.8930/sticker,375x360-bg,ffffff.u7.png" />
  </div>
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
            <div class="form-label-group">
              <input type="text" [(ngModel)]="currentUserModel.userLogin" id="inputEmail" class="form-control" placeholder="User" required autofocus>
              <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group">
              <input type="password" [(ngModel)]="currentUserModel.password" id="inputPassword" class="form-control" placeholder="Password" required>
              <label for="inputPassword">Password</label>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <a href="*" class="btn btn-lg btn-primary btn-block text-uppercase" (click)="authenticate()" onclick="return false;">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>
